*

!.gitignore
!pyproject.toml
!README.md
!manage.py
!dev.env

!Dockerfile
!docker-compose.yml
!entrypoint.sh
!clear_sessions.py

!dispatcher/
!dispatcher/**

!job_manager/
!job_manager/**

!manager/
!manager/**

!executor/
!executor/**

!launcher/
!launcher/**

!templates/
!templates/**

!static/
!static/**


*.pyc